.ai-cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
    grid-gap: 24px;

}

.ai-cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.ai-cards .aicards-card-body {
  margin: 16px;
}

.ai-cards .aicards-card-image {
  line-height: 0;
}

.ai-cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.ai-cards .button-container > a {
  color: #B50232;
  text-align: left;
  float: left;
}
